<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet-font" href="../css/font.css">
        <style>
            .headerBar {
                position: sticky;
                top: 0;
                width: 100%;
            }
            
            .footerBar {
                overflow: hidden;
                background-color: #90D0FF;
            }
        </style>
    </head>
    <body>
        <p class="body-font"><a href="http://35.245.57.180:5000/">Test font access; return to home</a></p>
    </body>
</html>