<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>StreamLine Landing Page</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work Sans">
        <link rel="stylesheet" href="../css/font.css">
        <style type="text/css">
            .body-text {
                font-family: "work sans";
                font-size: 20px;
                padding-left: 20px;
            }
            .rTable {
                display: table;
                width: 300px;
                padding-left: 50px;
                padding-right: 50px;
            }
            .rTableRow {
                display: table-row;
            }
            .rTableCell {
                display: table-cell;
            }
            
        </style>
    </head>
    
    <body class="body-text">
        <h2>Test Page Styles</h2>
        
        <div class="rTable">
            <div class="rTableRow">
                <div class="rTableCell"><span style="font-weight: bold;">Page Links</span></div>
                <div class="rTableCell"><span style="font-weight: bold;">Checked? [Y/N]</span></div>
            </div>
            <div class="rTableRow">
                <div class="rTableCell"><a href="about">About Page</a></div>
                <div class="rTableCell"><span style="text-align: center; width: 200px;">N</span></div>
            </div>
        </div>
        
        <p class="body-font">test css font</p>
    </body>
</html>